[Desktop Entry]
Type=Application
Name=Autorandr Launcher
Comment=Automatically run autorandr whenever the configuration changes
Exec=/usr/bin/autorandr-launcher --daemonize
